
<%- include('includes/head.ejs') %>
<title>Ana Sayfa</title>
  
  <style>
    body {
      overflow-y: hidden;
    }
  </style>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
<!-- Card with an image overlay -->
<div class="card mb-3">
  <img src="assets\img\sigmund-j96u8-vB2oA-unsplash.jpg" class="card-img-top" alt="...">
  <div class="card-img-overlay d-flex align-items-center justify-content-center">
    <div class="col-md-8">
      <div class="card-body d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
        <h3>Görev Defterine hoşgeldiniz.</h3>
        <hr>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <a href="/register" class="btn btn-light rounded-pill">Hesap Oluştur</a>
          <hr>
          <a href="/login" class="btn btn-light rounded-pill">Giriş Yap</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Card with an image overlay -->


  </main>
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
